html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    overflow: hidden;
}

#containerCanvas {
    
    height: 100%;
    width: 100%;
    position: absolute; 
     background-color: #445899;
   
}

#innerDIV {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
   
}

#canvasArea {
    position: absolute;
    padding: 0;
    box-sizing: border-box;
    background-color: #333333;
    border: 4px solid black;    
    z-index: 100;
    /* padding: 0px; */

    margin: 0 auto;
}